body{
	background-image: url("../IMG/bg.jpg") ;
	background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.container{
	margin:auto;
	..border:1px solid blue;
	width: 1000px;
	height: 500px;
}
.headercon{
	width: 1000px;
	height: 100px;

}
.logo{
	background: url("../IMG/logo1.webp") no-repeat center;
	width: 300px;
	height: 110px;
	float: left;
	padding-left: 0px;
}
.headright {
	width: 700px;
	background-color: black;
	height: 110px;
	float: right;
}
.headright small{
	float: right;
	font-size: 16px;
	color: #fff;	
}
.headright label{
	float: right;
	font-size: 18px;
	color: orange;
}
.navbg{
	width: 1000px;
	background-color: red;
	height: 170px;
}
.nav_inside ul{
	margin:0;
	padding: 0;
	display: inline-blocks;
	height: 60px;
	font-size: 18px;
	font-family: bitter;
}
.nav_inside ul li{
display: inline-block;
padding: 0 30px;
color: #000;
position: relative;
margin: 0 auto;
}
.nav_inside ul li a{
	text-decoration: none;
	color:orange;
	line-height: 52px;
	margin: 0 auto;
	display: inline-block;
}
.nav_inside a:hover{
	height: 56px;
	background-color: blue;
	text-transform: uppercase;
}
.midboxcon{
	margin: 0 auto;
	width: 1000px;
	height: 200px;
}
.midbox1{
	margin: 0 auto;
	width: 333px;
	height: 187px;
	background: url("../IMG/hero1.jpg");
	float: left;
}
.midbox2{
	margin: 0 auto;
	width: 333px;
	height: 187px;
	background: url("../IMG/hero2.webp");
	float: left;
}
.midbox3{
	margin: 0 auto;
	width: 334px;
	height: 187px;
	float: right;
	background: url("../IMG/hero3.webp");
}
#div1{
    background-color: gray;
    width:333px;
    height: 60px;
    float: left;
    font-family: verdana;
}
#div2{
    background-color: gray;
    width: 333px;
    height: 60px;
    float: left;
    font-family: verdana;
}
#div3{
    background-color: gray;
    width:333px;
    height: 60px;
    float: left;
    font-family: verdana;
}
#div1 li a:hover{
    text-decoration: none;
    color:black;
    text-transform: none;
}
#div1 li a{
    text-decoration-line: none;
    color: white;
}
#div2 li a:hover{
    text-decoration: none;
    color:black;
    text-transform: none;
}
#div2 li a{
    text-decoration-line: none;
    color: white;
}
#div3 li a:hover{
    text-decoration: none;
    color:black;
    text-transform: none;
}
#div3 li a{
    text-decoration-line: none;
    color: white;
}
#carbg{
	width: 333px;
	background: #D35400;
	height: 60px;
	float: left;
	margin-top: -1.3%;
}
.car_inside ul{
	margin:0;
	padding: 0;
	display: inline-block;
	height: 200px;
	font-size: 18px;
	font-family: bitter;
}
.car_inside ul li{
display: inline-block;
padding: 0 30px;
color: black;
position: relative;
margin: 0 auto;
}
.car_inside ul li a{
	text-decoration: none;
	color:black;
	line-height: 52px;
	margin: 0 auto;
	display: inline-block;
}
.car_inside a:hover{
	height: 56px;
	background-color: #F39C12;
	text-transform: uppercase;
}
#carbg2{
	width: 333px;
	background: whitesmoke;
	height: 60px;
	float: left;
	margin-top: -1.3%;
}
.car2_inside ul{
	margin:0;
	padding: 0;
	display: inline-blocks;
	height: 60px;
	font-size: 18px;
	font-family: bitter;
}
.car2_inside ul li{
display: inline-block;
padding: 0 30px;
color: black;
position: relative;
margin: 0 auto;
}
.car2_inside ul li a{
	text-decoration: none;
	color: black;
	line-height: 52px;
	margin: 0 auto;
	display: inline-block;
}
.car2_inside a:hover{
	height: 56px;
	background-color: #3498DB;
	text-transform: uppercase;
}
#carbg3{
	width: 333px;
	background:#1F618D;
	height: 60px;
	float: right;
	margin-top: -1.3%;
}
.car3_inside ul{
	margin:0;
	padding: 0;
	display: inline-blocks;
	height: 60px;
	font-size: 18px;
	font-family: bitter;
}
.car3_inside ul li{
display: inline-block;
padding: 0 30px;
color: black;
position: relative;
margin: 0 auto;
}
.car3_inside ul li a{
	text-decoration: none;
	color: black ;
	line-height: 52px;
	margin: 0 auto;
	display: inline-block;
}
.car3_inside a:hover{
	height: 56px;
	background-color: #808B96 ;
	text-transform: uppercase;
}
.footer {
  position: relative;
  width: 100%;
  background: url("../IMG/foot.gif");
  background-size: 100% 100%;
  min-height: 0px;
  padding: 15px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -1%;
}
.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
  color: orange;
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
  color: orange;
}

.footer p {
  color: orange;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}